.bar-div {
    border-radius: 1rem;
    width: 100%;
    padding: 1rem ;
    overflow: none;
    border: 1px solid var(--grey);
}
.title{
    display: flex;
    gap: 0.5rem;
    align-items: center;
}
.title-flex {
    display: flex;
    justify-content: space-between;
}
.period {
    padding: 0.5rem 1.5rem;
    font-family: Inter;
    font-size: 1rem;
    border: none;
    border-radius: 1rem;
}
.graphBtn {
    padding: 0.5rem 1.5rem;
    border-radius: 1.5rem;
    border: none;
    font-size: 0.9rem;
    font-weight: 700;
}
.graphBtn:hover {
    cursor: pointer;
}