.transactions {
    padding-left: 2rem;
    width: 100%;
    height: 40vh;
    border: 1px solid var(--grey);
    overflow-y: auto;
    margin-top: 1rem;
    border-radius: 1rem 4px 1px 1rem;
    text-align: left;
    scroll-behavior: auto;
}
.transactions .header {
    display: flex;
    gap: 1rem;
    align-items: baseline;
    margin: 0;
    padding: 0;
}
.header h1 {
    margin-bottom: 0;
}
table, th, td {
    padding-right:0.5rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
}
th {
    color: var(--grey);
    font-weight: 600;
    padding: 0;
    padding-right: 0.5rem;
}