.navbar{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    text-align: left;
    width: 15%;
    height: 100vh;
    z-index: 101;
    top: 0;
    left: 0;
    /* padding: 0 1rem; */
    border: 1px solid black;
    /* border-radius: 2rem; */
}

.links {
    display: flex;
    align-items: center;
    gap: 1rem;
}