.navbar{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: left;
    width: 10%;
    height: 100vh;
    z-index: 101;
    top: 0;
    left: 0;
    border-right: 1px solid var(--grey);
    margin-right: 1.5rem;
}

.links {
    display: block;
}
.links p {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
    background-color: var(--white);
}
.links:hover p {
    background-color: var(--blue);
    transform: scale(1.1);
}
.link:active p {
    background-color: var(--blue);
}