.activities{
    height: 100vh;
    overflow: none;
    width: 22rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: var(--black);
    background-color: var(--darkgrey);
}