.performance-div {
    overflow: none;
    /* background-color: rgb(240, 239, 239); */
    padding: 0 1rem;
    width: 20rem;
}
.menu-head {
    display: flex;
    align-items: center;
}
.lists-div{
    display: flex;
    justify-content: space-between;
    padding: 1rem;
    border-bottom: 1px solid var(--grey);
}
.lists{
    gap: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.list p {
    margin: 0;
    padding: 0;
}
button {
    width: 20rem;
    height: 4rem;
    border: none;
    margin-top: 1rem;
    background-color: var(--white);
    color: var(--black);
    font-size: 1rem;
    border-radius: 1rem;
    /* padding: 1rem 5rem; */
}
button:hover {
    transform: scale(1.08);
    cursor: pointer;
}